body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#F4F7FA;
    color:#333;
}

.welcome{
    max-width:900px;
    margin:60px auto;
    background:#fff;
    padding:40px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

h1{
    color:#0F6A3C;
}

h2{
    color:#F4B400;
}

ul{
    line-height:2;
}
